<div class="card">
  <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=3')"></span>
  <span class="card-gradient"></span>
  <span class="card-category">Cocktail</span>
  <span class="card-text">
    <h2><%= link_to cocktail.name, cocktail_path(id: cocktail.id) %></h2>
  </span>
  <span class="card-user">
    <%= image_tag "logo2.png", height: 20 %>
  </span>
  <a href="#" class="card-link"></a>
</div>
