<div class="container">
  <div class="row">

<h1>Liste des cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <br>
  <div>
    <%= link_to cocktail.name, cocktail_path(id: cocktail.id) %>
    <br>
    <br>
  </div>
<% end %>
<br>
</div>
<%= link_to "create a new cocktail", new_cocktail_path, class: "btn btn-success" %>


</div>


