<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

  <%= link_to cocktails_path do %>
      <%= image_tag "logo.png", height: 60 %>
  <% end %>

    <%= link_to "create a new cocktail", new_cocktail_path, class: "btn btn-primary navbar-right" %>
  </div>
</nav>
